.dropdown {
  @include primary-dropdown;
  @include minimal-dropdown;
  margin-top: -30px;
  margin-bottom: 32px;
  margin-right: 8.7%;
  align-self: flex-end;

  option div {
    background-color: $site-brand-color;
  }

  @media screen and (max-width: 1000px) {
    margin-right: 8%;
  }

  @media screen and (max-width: 768px) {
    margin-right: 0;
    align-self: center;
  }
}
