@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.share-buttons {
  display: flex;
  list-style-type: none;

  @media screen and (max-width: 425px) {
    flex-direction: column;
  }

  a {
    @include short-transition;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    @media screen and (max-width: 425px) {
      margin: 10px;
    }

    &.twitter {
      background-color: #d8ebfb;

      &:hover {
        background-color: color.adjust(#d8ebfb, $lightness: -6%);
      }
    }

    &.instagram {
      background-color: #e4405f;

      &:hover {
        background-color: color.adjust(#e4405f, $lightness: -10%);
      }
    }

    &.ko-fi {
      background-color: #28a6da;

      img {
        width: 60%;
        margin-left: 1px;
      }

      &:hover {
        background-color: color.adjust(#28a6da, $lightness: -10%);
      }
    }

    &.discord {
      background-color: #e3e7fb;

      img {
        width: 60%;
      }

      &:hover {
        background-color: color.adjust(#e3e7fb, $lightness: -6%);
      }
    }

    &.steam {
      background-color: #1b3553;

      img {
        width: 100%;
        margin-left: -2px;
      }

      &:hover {
        background-color: color.adjust(#1b3553, $lightness: -10%);
      }
    }

    &.substack {
      background-color: #ffe7d6;

      img {
        width: 55%;
      }

      &:hover {
        background-color: color.adjust(#ffe7d6, $lightness: -6%);
      }
    }

    &.portfolio {
      background-color: color.adjust($site-gray, $lightness: -10%);

      img {
        width: 70%;
      }
    }

    img {
      width: 50%;
      margin-bottom: 0;
    }
  }
}