.share-buttons {
  display: flex;
  list-style-type: none;

  @media screen and (max-width: 425px) {
    flex-direction: column;
  }

  a {
    @include short-transition;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    @media screen and (max-width: 425px) {
      margin: 10px;
    }

    &.twitter {
      background-color: #1da1f2;

      &:hover {
        background-color: darken(#1da1f2, 10%);
      }
    }

    &.instagram {
      background-color: #e4405f;

      &:hover {
        background-color: darken(#e4405f, 10%);
      }
    }

    &.ko-fi {
      background-color: #28a6da;

      img {
        width: 60%;
        margin-left: 1px;
      }

      &:hover {
        background-color: darken(#28a6da, 10%);
      }
    }

    &.discord {
      background-color: #7289da;

      img {
        width: 60%;
      }

      &:hover {
        background-color: darken(#7289da, 10%);
      }
    }

    &.steam {
      background-color: #1b3553;

      img {
        width: 100%;
        margin-left: -2px;
      }

      &:hover {
        background-color: darken(#1b3553, 10%);
      }
    }

    &.patreon {
      background-color: #f96855;

      img {
        width: 80%;
        border-radius: 50%;
      }

      &:hover {
        background-color: darken(#f96855, 10%);
      }
    }

    &.portfolio {
      background-color: darken($site-gray, 10%);

      img {
        width: 70%;
      }
    }

    img {
      width: 50%;
      margin-bottom: 0;
    }
  }
}
