#darkmode {
  background-color: $site-font-color;
  color: $site-darkmode-font-color;

  * {
    ::selection {
      background: $site-brand-color;
    }
  }
}

#darkmode {
  .content {
    background-color: $site-font-color;
  }

  &.about,
  &.contact,
  &.subscribe,
  &.author {
    background-color: $site-font-color;
    color: $site-darkmode-font-color;
  }

  &.author {
    &-posts {
      background-color: $site-font-color;
    }
  }

  .main-nav,
  .layered-nav {
    border-bottom: 1px solid $site-darkmode-gray;
    background-color: $site-font-color;
  }

  .main-nav-logo .name {
    color: $site-darkmode-font-color;
  }

  .layered-nav-item {
    color: $site-darkmode-font-color;
  }

  input {
    background-color: $site-font-color;
    color: $site-darkmode-font-color;
  }

  input[type="search"].search {
    background-color: $site-darkmode-gray;
    color: $site-darkmode-font-color;
    border-bottom: 1px solid lighten($site-darkmode-gray, 15%);
    box-shadow: none;
  }

  .secondary-nav {
    background-color: $site-darkmode-gray;
    border-bottom: 1px solid $site-darkmode-gray;

    .pages-wrapper ul:after {
      @media screen and (max-width: 555px) {
        background-color: lighten($site-darkmode-gray, 20%);
      }
    }

    ul li a {
      color: $site-darkmode-font-color;
    }
  }

  #darkmode-button {
    color: $site-text-highlight;

    &:before {
      content: "★ LIGHT";
    }
  }

  .featured {
    background: $site-font-color;
  }

  .featured-icon {
    color: $site-font-color;
  }

  .post {
    background-color: lighten($site-darkmode-font-color, 5%);

    &:hover {
      box-shadow: 0 2px 0 rgba(54, 45, 89, 0.15),
        -0.1875rem -0.1875rem 0 0.1875rem $site-brand-color,
        0 0 0 0.375rem $site-gray;
    }
  }

  .dropdown {
    background-color: $site-darkmode-gray;
    border: 1px solid $site-darkmode-font-color;
    color: $site-darkmode-font-color;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        $site-darkmode-font-color 50%
      ),
      linear-gradient(135deg, $site-darkmode-font-color 50%, transparent 50%),
      linear-gradient(
        to right,
        $site-darkmode-font-color,
        $site-darkmode-font-color
      );
  }

  .post-main {
    background-color: $site-font-color;
    color: $site-darkmode-font-color;

    .post-video-iframe {
      background-color: $site-font-color;
    }
  }

  .post-page {
    background-color: $site-font-color;
    color: $site-darkmode-font-color;

    blockquote {
      border-left: 2px solid $site-gray;
    }
  }

  .article {
    background-color: $site-font-color;

    span.blue-q {
      color: $site-brand-color;
    }
  }

  .post-page-details {
    p:after {
      color: $site-darkmode-font-color;
    }
  }

  .quick-summary {
    background-color: $site-darkmode-gray;
    color: $site-darkmode-font-color;
  }

  .posts-container,
  .author-posts {
    background-color: $site-font-color;
  }

  .footer {
    background-color: $site-darkmode-gray;

    &-links {
      list-style-type: none;
    }
  }

  .steam-keys {
    background-color: $site-font-color;
  }

  .key {
    background-color: $site-darkmode-gray;
    color: $site-darkmode-font-color;

    &-title {
      color: $site-darkmode-font-color;
    }

    &:hover {
      box-shadow: 0 2px 0 rgba(54, 45, 89, 0.15),
        -0.1875rem -0.1875rem 0 0.1875rem $site-brand-color,
        0 0 0 0.375rem $site-gray;
    }
  }

  .key-used {
    opacity: 0.25;

    .key-title {
      color: $site-highlight;
    }

    .key-button {
      background-color: $site-darkmode-gray;
    }

    &:hover {
      box-shadow: none;
    }
  }

  .substack-iframe {
    background-color: lighten($site-darkmode-font-color, 10%);
  }

  /* Amazon ad overrides for darkmode */
  div#amzn-native-ad-0 div.amzn-native-product,
  .amzn-native-product-title-text,
  .amzn-native-product-image-container,
  .amzn-native-product-image-holder,
  .amzn-native-product-subtitle,
  .amzn-native-product-offer-price,
  .amzn-native-product-rating-text,
  .amzn-native-da-adchoices-link,
  .amzn-sprite.amzn-native-da-adchoices,
  .amzn-sprite.amzn-native-product-ad-notification,
  .amzn-native-product-ad-notification-tooltip,
  .amzn-native-product-ad-notification-text,
  .amzn-native-product-additional-info-menu-overlay {
    background-color: $site-font-color !important;
    color: $site-darkmode-font-color !important;

    &:hover {
      color: darken($site-darkmode-font-color, 10%) !important;
    }
  }
}
