@import "../components/common-ui/share-buttons.scss";

html,
body {
  height: auto;
  width: 100vw;
  color: $site-font-color;
  background-color: white;
  min-width: 320px;

  /* don't use overflow or stick won't work */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header-font;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  line-height: 1;
}

p,
a,
li,
label,
span,
blockquote {
  @include primary-font;
}

button,
a {
  cursor: pointer;
  font-size: inherit;
}

p,
li {
  font-size: $text-size;
  line-height: 1.75;
}

ul {
  list-style-position: inside;
  line-height: 1.5;
}

input[type="text"],
input[type="email"],
input[type="search"] {
  @include large-text-input;
}

blockquote {
  line-height: 1.5;
  border-left: 2px solid $site-font-color;
  padding: 0 10px;
  margin-bottom: 25px;
  font-size: $tiny-size;

  p {
    display: inline;
  }

  &:before {
    content: "“ ";
  }

  &:after {
    content: " ”";
  }
}

.hide {
  display: none !important;
}

.highlight {
  background-color: $site-gray;
}

.bold {
  font-weight: 600;
}

.game-title {
  font-style: italic;
}

.animated-link {
  color: $site-brand-color;
  position: relative;
  width: auto;

  &:after {
    @include link-animation-start;
  }

  &:hover:after {
    @include link-animation-end;
  }
}
