// general color scheme
$site-font-color: #202124;
$site-gray: rgba(215, 215, 215, 1);
$site-darkmode-font-color: lighten($site-gray, 5%);
$site-darkmode-gray: darken($site-gray, 65%);
$site-color-dark: #4da3b0;
$site-brand-color: #00c1e0;
$site-brand-color-light: lighten($site-brand-color, 50%);
$site-color-light: #e9f0f5;
$site-highlight: #cd0000;
$site-highlight-light: rgba(205, 0, 0, 0.1);
$site-text-highlight: lighten(#e0af00, 35%);
$site-dark-green-highlight: #023840;

$content-min-height: 70vh;

$heading-size: 42px;
$mobile-heading-size: 30px;
$subtitle-size: 24px;
$text-size: 16px;
$tiny-size: 14px;

$mobile-nav-resolution: 620px;
