.footer {
	background-color: $site-font-color;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 50px 5vw;
	min-height: 20vh;

	&-links-wrapper {
		display: flex;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	&-links {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin-right: 10vw;

		li {
			margin: 10px 0;
		}

		.animated-link {
			font-size: $text-size;
			color: #FFF;

			&:after {
				background-color: #FFF;
			}

			@media screen and (max-width: 425px) {
				font-size: $tiny-size;
			}
		}
	}

	.subscribe-button {
		@include primary-button;
	}

	.footer-social {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.share-buttons {
		@media screen and (max-width: 525px) {
			flex-direction: column;
		}
	}
}

.copyright {
	font-size: $tiny-size - 4;
	color: #FFF;
	margin-top: 20px;

	@media screen and (max-width: 525px) {
		max-width: 50px;
	}
}
