.footer {
  background-color: $site-font-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 5vw;
  min-height: 20vh;

  &-links-wrapper {
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 10vw;

    .animated-link {
      font-size: $text-size;
      color: #fff;
      margin: 15px 0;

      &:after {
        background-color: #fff;
      }

      @media screen and (max-width: 425px) {
        font-size: $tiny-size;
      }
    }
  }

  .subscribe-button {
    @include primary-button;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .share-buttons {
    @media screen and (max-width: 525px) {
      flex-direction: column;
    }
  }
}

.copyright {
  font-size: $tiny-size - 4;
  color: #fff;
  margin-top: 20px;

  @media screen and (max-width: 525px) {
    max-width: 50px;
  }
}
